$primary-color: #FFEFE7;
$secundary-color: #EEDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternion-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;

body {
    margin: 0px;
    padding: 0px;
    box-sizing: $primary-color;
    font-family: $font-stack;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;

    p {
        font-size: 1.5em;
        padding: 30px;
    }

    .icons {
        display: flex;
        gap: 15x;

        button {
            background: none;
            border-style: none;
        }
    }
}

article {
    width: auto;
    color: $primary-text-color;
    background-color: white;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;

    .impact-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }

    h1 {
        font-size: 3em;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: $paragraph-size;
    }

    button {
        width: 12vw;
        padding: 20px;
        background: $quaternion-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1em;
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: 100%;
    height: auto;
    padding: 60px;
    background-color: red;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare{
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
             .product-card {
                    width: 15vw;
                    height: auto;
                    background-color: $secundary-color;
            
                    img {
                        width: 100px;
                    }
        } 
    }
}


 }

footer {
    $background-color: #FA9500;
    height: 250px;
    width: 100%;
}